<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>订单详情</title>
	<link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/iconfont.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <link href="../css/pages.css" rel="stylesheet"/>
    <link href="../css/reset.css" rel="stylesheet"/>
    <style>
        body>.mui-progressbar{
            top:0
        }
    </style>
</head>
<body>
	<div class="mui-content">
    <div id="order_detail_children">
	    <ul class="mui-table-view">
	        <li class="mui-table-view-cell mui-media">
	            <a><span class="mui-icon mui-icon-location"></span>&nbsp;&nbsp;收货信息</a><br />
	            <a><span>唐少爷</span>&nbsp;&nbsp;<span>18254692538</span></a><br />
	            <a>天津市西青区鑫茂科技园开华道9号</a>
	        </li>
	        <li class="mui-table-view-cell mui-media">
            	<a><span class="mui-icon mui-icon-bars"></span>&nbsp;&nbsp;订单信息</a><br />
	            <a><span>订单状态：</span>&nbsp;&nbsp;<span>未付款、为发货</span></a><br />
	            <a><span>订单编号：</span>&nbsp;&nbsp;<span>213156456565465</span></a><br />
	            <a><span>下单时间：</span>&nbsp;&nbsp;<span>2016-12-6&nbsp;13:30</span></a><br />
	            <a><span>支付方式：</span>&nbsp;&nbsp;<span>线下支付</span></a>
            </li>
            <li class="mui-table-view-cell mui-media">
            	<a><span class="mui-icon iconfont icon-gifts"></span>&nbsp;&nbsp;商品信息</a><br />
            	<div class="mui-input-row mui-input-range">
		            <div style="width:30%; float: left;">
		            	<img src="../images/8.jpg" height="90%" width="90%"/>
		            </div>
		            <div style="width:65%;float: left;">
		            	<a style="color: black;">翠绿的超级翡翠让您物超所值的最有价值的翡翠绿色</a><br />
		                <a><span style="color: black;">规格：60ml &nbsp;&nbsp;颜色:黑色</span>&nbsp;&nbsp;<span style="color: red;">￥255</span></a><br />
		                <a style="color: black;"><span>数量：1</span></a>
		            </div>
	            </div>
            </li>
            <li class="mui-table-view-cell mui-media">
            	<a><span class="mui-icon mui-icon-checkmarkempty"></span>&nbsp;&nbsp;价格信息</a><br />
	            <label style="display:inline-block; width:30%;text-align:right;"><span>商品金额：</span></label>&nbsp;&nbsp;<span style="color: red;">￥312</span><br />
	            <label style="display:inline-block; width:30%;text-align:right;"><span>运费：</span></label>&nbsp;&nbsp;<span style="color: red;">￥20</span><br />
	            <label style="display:inline-block; width:30%;text-align:right;"><span>运费优惠：</span></label>&nbsp;&nbsp;<span style="color: red;">-￥20</span><br />
	            <label style="display:inline-block; width:30%;text-align:right;"><span>总金额：</span></label>&nbsp;&nbsp;<span style="color: red;">￥212</span>
            </li>
            <li class="mui-table-view-cell mui-media">
                <div class="mui-input-row mui-input-range">
                    <div style="width:70%; float: left;">
		            	<span style="font-size: 20px;">总金额：</span>&nbsp;&nbsp;<span style="font-size: 20px;color: red;">￥255</span>
		            </div>
		            <div style="width:30%;float: left;">
		            	<button type="button"style="width:100%;float: left;" class="mui-btn mui-btn-danger">立即支付</button>
		            </div>
                </div>
            </li>
	    </ul>
    </div>
</div>   
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/mui.min.js"></script>
    <script type="text/javascript" src="../js/mui.lazyload.js"></script>
    <script type="text/javascript" src="../js/mui.lazyload.img.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript">
    
    </script>
</body>
</html>
